version = 0.1

[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "backup-cleaner-dev"
s3_bucket = "YOUR_BUCKET_NAME"
s3_prefix = "backup-cleaner-dev"
region = "YOUR_REGION"
capabilities = "CAPABILITY_IAM"
confirm_changeset = true

[dev]
[dev.deploy]
[dev.deploy.parameters]
stack_name = "backup-cleaner-dev"
s3_bucket = "YOUR_BUCKET_NAME"
s3_prefix = "backup-cleaner-dev"
capabilities = "CAPABILITY_IAM"
parameter_overrides = "Environment=dev"

[prod]
[prod.deploy]
[prod.deploy.parameters]
stack_name = "backup-cleaner-prod"
s3_bucket = "YOUR_BUCKET_NAME"
s3_prefix = "backup-cleaner-prod"
capabilities = "CAPABILITY_IAM"
parameter_overrides = "Environment=prod"

